<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
	<!--CONEXION CON LA BASE DE DATOS-->
	<connectionStrings>
		<add name="conector" connectionString="Server=PAPASCO; Integrated Security=true; Database=db_topnevel" />
		<!--add name="conector" connectionString="Server=myServerAddress;Database=myDataBase;User Id=myUsername;Password=myPassword;"-->
	</connectionStrings>

</configuration>